@font-face {
    font-family: sanspro;
    src: url('SourceSansPro-Regular.ttf');
}

@font-face{
    font-family: bebas;
    src: url('BebasNeue-Regular.ttf');
}

@font-face {
    font-family: firaBold;
    src: url('FiraSansCondensed-Bold.ttf');
}